@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-value: black; /* 기본값 */
  --bg-color: gray; /* 기본값 */
}

@layer base {
  tr th,
  tr td {
    @apply border-default p-3;
  }

  input {
    @apply border-default rounded h-7;
  }

  button {
    @apply bg-fill text-white px-4 py-2 rounded;
  }
}

@layer components {
  .border-bold {
    @apply border-2;
    border-color: var(--color-value);
  }

  .border-default {
    @apply border;
    border-color: var(--color-value);
  }

  .bg-fill {
    background-color: var(--bg-color);
  }

  .form-line-area {
    @apply grid grid-cols-3 items-center my-4;
  }
}
